<modal-wrapper>
  <form ng-submit="vm.submit()">

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <strong class="text-upper text-primary">Name</strong>
      <input class="mdl-textfield__input" ng-model="vm.name" required>
      <label class="mdl-textfield__label"></label>
    </div>


    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <strong class="text-upper text-primary">Code</strong>
      <input class="mdl-textfield__input" ng-model="vm.code" required>
      <label class="mdl-textfield__label"></label>
    </div>

    <filter-system-sports model="vm.sport" selected-sport-id="vm.currentSport"></filter-system-sports>
    <filter-system-categories model="vm.category" selected-category="vm.currentCategoryID"></filter-system-categories>

    <br><br>
    <button type="submit"
            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
            ng-bind="::vm.buttonText">
    </button>

    <button type="button"
            class="pull-right mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
            ng-if="vm.isManage"
            ng-click="vm.deleteLeague()">
      Remove league
    </button>
  </form>

</modal-wrapper>
