<filters-wrapper refresh="vm.refresh()">
    <div class="mdl-cell mdl-cell--2-col">
        <filter-system-sources model="vm.filters.source" live-type="prematch"></filter-system-sources>
    </div>
    <div class="mdl-cell mdl-cell--2-col">
        <filter-system-sports model="vm.filters.sport" source="vm.filters.source"></filter-system-sports>
    </div>
    <div class="mdl-cell mdl-cell--2-col">
        <filter-system-categories model="vm.filters.category" with-all></filter-system-categories>
    </div>
    <div class="mdl-cell mdl-cell--2-col">
        <input-default model="vm.filters.search" label="Search" placeholder="Search in leagues table..."
                       debounce="1000"></input-default>
    </div>
</filters-wrapper>

<table-backend-paginated per-page="vm.rowCount"
                         current-page="vm.pageNumber"
                         total-count="vm.count"
                         refresh-function="vm.refresh()">
    <table class="material__table-small">
        <thead>
        <tr>
            <th>Changed</th>
            <th>Name</th>
            <th>System Name</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="league in vm.table track by $index"
            ng-click="vm.edit(league)" class="hover">
            <td ng-bind="league.ChangedDate"></td>
            <td>
                [<span ng-bind="league.ID"></span>]
                <span ng-bind="league.Name"></span>
            </td>
            <td>
                <span ng-bind="league.SystemName"></span>
            </td>
        </tr>
        </tbody>
    </table>
</table-backend-paginated>