.calendar__description {
  display: block;
}

.calendar-table > tbody > tr > td {
  border-color: #8f8f8f !important;
}

.calendar__description .calendar__description-text {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  line-height: 25%;
  padding-bottom: 50px;
}

.calendar__description .block {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 15px;
  border: 1px solid #777777;
}

.calendar-hl-0 {
  background-color: white;
}

.calendar-hl-0 > .calendar-cell > button {
  display: block;
}

.calendar-hl-1 {
  background-color: #b9b9b9;
}

.calendar-hl-2 {
  background-color: rgba(138, 179, 62, 0.64);
}

.calendar-hl-2 > .calendar-cell > button {
  display: block;
}

.calendar-hl-3 {
  background-color: #d7cd32;
}

.calendar-hl-4 {
  background-color: rgba(212, 14, 0, 0.49);
}

.calendar-cell {
  border-right: 1px solid #c1c1c1;
  width: 53px;
}

.calendar-cell > button {
  display: none;
}

.calendar-bought {
  background-color: #5dd051;
}
.calendar-bought > button {
  display: none !important;
}
