.table__backend-paginated .table__backend-paginated-preloader {
    display: none;
}

.table__backend-paginated table {
    transition: opacity linear .3s;
}

.table__backend-paginated-loading {
    /*justify-content: center;*/
    /*align-items: center;*/
}

.table__backend-paginated-loading table{
    opacity: 0.65;
}

.table__backend-paginated-loading .loader-wrapper{

}

.table__backend-paginated-loading .table__backend-paginated-preloader {
    /*display: flex;*/
    /*display: block;*/
    /*width: 100%;*/
    /*max-height: 100%;*/
    position: absolute;
    /*justify-content: center;*/
    /*align-items: center;*/
}

.table__backend-paginated-preloader .loader-wrapper {
    height: 100%;
    width: 100%;
    z-index: 100500;
}