<filters-wrapper refresh="vm.refreshTable()">
  <div class="mdl-cell mdl-cell--2-col">
      <filter-is-live model="vm.filters.isLive" with-all></filter-is-live>
  </div>
  <div class="mdl-cell mdl-cell--2-col">
    <filter-system-sports model="vm.filters.sport" with-all></filter-system-sports>
  </div>
  <div class="mdl-cell mdl-cell--2-col">
    <input-default model="vm.filters.search" label="Search"
                   placeholder="Search in bet types table..."
                   debounce="500"></input-default>
  </div>
  <div class="mdl-layout-spacer"></div>
  <div class="mdl-cell mdl-cell--3-col">
    <button ng-click="vm.openBetTypesEditModal()"
            class="pull-right mdl-button mdl-button--raised mdl-button--colored">
      Create new bet type
    </button>
  </div>
</filters-wrapper>

<table-extended list="vm.betTypesTable"
                livesearch="vm.filters.search"
                accessor="__table_extended_list"
                config="__table_extended_config">
  <table class='material__table-small' at-table at-paginated at-list="__table_extended_list"
         at-config="__table_extended_config">
    <thead>
    <tr>
      <th class="hover" at-attribute="Id">ID</th>
      <th class="hover" at-attribute="ChangedDate">Changed</th>
      <th class="hover" at-attribute="Code">Code</th>
      <th class="hover" at-attribute="LiveTypeText">Type</th>
      <th class="hover" at-attribute="ShortName">ShortName</th>
      <th class="hover" at-attribute="Name">Name</th>
      <th class="hover" at-attribute="Ordering">Ordering</th>
      <th class="hover" at-attribute="Description">Description</th>
    </tr>
    </thead>
    <tbody>
    <tr class="hover" ng-click="vm.openBetTypesEditModal(item)">
      <td width="100" at-implicit at-sortable at-attribute="Id"></td>
      <td width="150" at-implicit at-sortable at-attribute="ChangedDate" at-initial-sorting="desc"></td>
      <td width="100" at-implicit at-sortable at-attribute="Code"></td>
      <td width="100" at-implicit at-sortable at-attribute="LiveTypeText"></td>
      <td width="150" at-implicit at-sortable at-attribute="ShortName"></td>
      <td at-implicit at-sortable at-attribute="Name"></td>
      <td width="150" at-implicit at-sortable at-attribute="Ordering"></td>
      <td at-implicit at-sortable at-attribute="Description"></td>
    </tr>
    </tbody>
  </table>
</table-extended>

